<nav class="navbar navbar-expand-lg fixed-top navbar-custom px-4" [ngClass]="{'scrolled': isScrolled}">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center fw-bolder" href="/">
      <div class="bg-primary text-white p-2 rounded-3 me-2">
        <i class="bi bi-stars"></i>
      </div>
      <span style="color: #312e81; letter-spacing: -1px;">SOV LIMA</span>
    </a>

    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <i class="bi bi-list fs-2 text-primary"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center gap-lg-4 pt-3 pt-lg-0">


        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
        <li class="nav-item" *ngIf="authService.userRol() !== 'ADMIN'"><a class="nav-link" href="/test">Test Vocacional</a></li>
        <li class="nav-item" *ngIf="authService.userRol() !== 'ADMIN'"><a class="nav-link" href="/comparador">Comparador</a></li>
        <li class="nav-item"><a class="nav-link" href="/sedes">Ubicaciones</a></li>

        <!-- POSTULANTE -->
        <ng-container *ngIf="authService.userRol() === 'POSTULANTE'">
          <li class="nav-item"><a class="nav-link" href="/historial">Historial</a></li>
        </ng-container>

        <!-- ADMIN -->
        <ng-container *ngIf="authService.userRol() === 'ADMIN'">
          <li class="nav-item"><a class="nav-link" href="#">Usuarios</a></li>
          <li class="nav-item"><a class="nav-link" href="/gestionOferta">Gestionar Ofertas</a></li>
          <li class="nav-item"><a class="nav-link" href="/gestionPregunta">Preguntas</a></li>
        </ng-container>

        <li class="nav-item mt-2 mt-lg-0" *ngIf="!authService.isAuthenticated()">
          <a class="btn btn-primary px-4 rounded-pill shadow-sm w-100" href="/login">
            Iniciar Sesión
          </a>
        </li>
        <li class="nav-item mt-2 mt-lg-0" *ngIf="authService.isAuthenticated()">
          <button class="btn btn-danger px-4 rounded-pill shadow-sm w-100" (click)="logout()">
            Cerrar Sesión
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container" style="padding-top: 120px; min-height: 80vh;">
  <router-outlet></router-outlet>
</main>

<footer class="bg-white border-top py-5 mt-5">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 text-muted small">
    <div class="d-flex align-items-center gap-2 fw-bold opacity-50">
      <i class="bi bi-stars text-primary"></i> SOV LIMA 2026
    </div>
    <p class="m-0">© Orientación Vocacional Lima Metropolitana.</p>
  </div>
</footer>

<app-chat *ngIf="showChat"></app-chat>